<a href="/dashboard"> Go to the dashboard to create a new post!</a>
<br>
<h4>Login and click on a comment to add a new comment!</h4>
<br>

<h3> Posts & Comments</h3>
<p>Feel free to add articles, blog posts, and opinions.</p>

<ol class="post-list" > 
  {{#each posts as |post|}} 
  <li>
    <!--- uncomment for testing - createdAt returns data here
    TESTHOMEPAGE - {{format_date createdAt}} 
    --->
  <a href="/post/{{post.id}}" class="post-wrapper">
      {{> post-info post}}
  </a>
  </li>
  {{/each}}
</ol>
