<a href="/dashboard"> Go to the dashboard to create a new post!</a>
<br>
<h4>Click on comments to add a new comment!</h4>
<br>

<h3> Posts & Comments</h3>
<p>Feel free to add articles, blog posts, and opinions.</p>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
